h1 {
  color: blue;
}

#navbar-header {
  background-color: white;
  border-color: white;
}

#bs-example-navbar-collapse-1 {
  border-color: white;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 2em;
}

#carousel-button {
  border-radius: 2em;
}

.carousel-indicators {
  text-align: left;
}

#services-button {
  border-radius: 2em;
}

#explore-services {
  padding-left: 50px;
}

