h1 {
  color: blue;
}

#navbar-header {
  background-color: white;
  border-color: white;
}

#bs-example-navbar-collapse-1 {
  border-color: white;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 2em;
}

#carousel-button {
  border-radius: 2em;
  background-color: #35363B;
  color: white;
  font-weight: 300;
  padding: 8px 40px;
  border-color: #35363B;
}

.carousel-indicators {
  text-align: left;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    text-align: left;
}

#carousel-text {
  font-size: 2vw;
  font-weight: 200;
}

#title {
  font-size: 4vw;
}

#stories-title {
  font-size: 2vw;
  font-weight: 100;
}

#services-button {
  border-radius: 2em;
}

#explore-services {
  padding-left: 50px;
}

@media (max-width: 768px) {
  #carousel-button {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #carousel-button {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

